/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* Container Styles */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar Styles */
.nav {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px;
    margin-bottom: 1rem;
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    margin: 0 15px;
}

.menu-item button {
    background: none;
    border: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s;
}

.menu-item button:hover {
    color: #ffcb42;
}

/* Main Form Container */
.login-container {
    background-color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 250%;    
}

.form-group {
    margin-bottom: 20px;
}

/* Labels and Inputs */
label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #666;
    
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ffcb42;
    outline: none;
}

/* Button Styling */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffcb42;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffa500;
}

/* Footer Task Bar */
.barra-tareas {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.icono {
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: color 0.3s;
}

.icono:hover {
    color: #ffcb42;
}
